<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span>DSI2</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="commande" routerLink="commande"> commande</button>
    <button mat-icon-button class="connexion" routerLink="connexion">connexion</button>
    <button mat-icon-button class="inscription" routerLink="inscription"> inscription</button>
    <button mat-icon-button class="panier" routerLink="panier">  panier</button>
    <button mat-icon-button class="panier" routerLink="acceuil"> acceuil</button>

  </mat-toolbar>
  <router-outlet></router-outlet>
  